<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Todo home page - new user registration</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Welcome to the registration page!</h1>

        <br />
        <form action="/users/registration" th:object="${user}" method="POST" enctype="utf8">

            <input type="text" th:field="*{Name}" placeholder="Name" />

            <input type="text" th:field="*{Username}" placeholder="Username" />

            <input type="text" th:field="*{Email}" placeholder="Email" />

            <input type="password" th:field="*{password}" placeholder="Password"></input>

            <input type="password" th:field="*{passwordConfirm}" placeholder="Password Confirmation"></input>

            <button type="submit" th:text="Submit">Create account</button>
        </form>
    </body>
</html>
