<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Todo home page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Welcome to the home page!</h1>
        <table>
            <th:block th:each="todo : ${todos}">
                <tr>
                    <td th:text="${todo.Title}">...</td>
                    <td th:text="${todo.Description}">...</td>
                </tr>
            </th:block>
        </table>
        <br />
        <form action="/new" method="GET">
            <input type="submit" value="Create new todo task!">
        </form>
    </body>
</html>
