<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>New todo page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>New todo page</h1>
        <form action="index" method="post">
        <p>Title</p>
        <input type="text" name="Title">
        <br>
        <p>Description</p>
        <input type="text" name="Description">
        <br />
        <input type="submit" value="Create todo task!">
    </body>
</html>
