<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Todo home page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h4>Welcome: <span sec:authentication="name">Bob</span></h4>
        
        <div>
            <table>
                <th:block th:each="todo : ${todos}">
                    <tr>
                        <td th:text="${todo.title}">...</td>
                        <td th:text="${todo.description}">...</td>
                        <td th:text="${todo.User.Username}">...</td>
                        <td>
                            <form th:object="${todo}" th:method="GET" th:action="@{/todos/{id}/update(id=${todo.id})}">
                                <input type="submit" value="update">
                            </form>
                        </td>
                        <td>
                            <form th:object="${todo}" th:method="delete" th:action="@{/todos/{id}(id=${todo.id})}">
                                <input type="submit" value="DELETE!">
                            </form>
                        </td>
                    </tr>
                </th:block>
            </table>
            <br />
            <div>
                <form action="/todos/new" method="GET">
                    <input type="submit" value="Create new todo task!">
                </form>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a class="btn btn-success"th:href="@{/users/logout}">Sign out</a>
            </div>

            <div sec:authorize="isAnonymous()">
                <a class="btn btn-success" th:href="@{/login}">Login</a>
                <a class="btn btn-primary" th:href="@{/registration}">Register</a>
            </div>
        </div>
    </body>
</html>
