<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>New todo page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <h1>New todo page</h1>
        <div class="container">
            <form th:object="${todo}" method="post" action="/todos/create">
                <input type="hidden" th:field="*{id}" />

                <div>
                    <input type="text" th:field="*{title}" placeholder="Title" />
                    <p th:if="${#fields.hasErrors('Title')}" th:errors="*{title}">Incorrect Title</p>
                </div>

                <div>
                    <input type="text" th:field="*{description}" placeholder="Description" />
                    <p th:if="${#fields.hasErrors('Description')}" th:errors="*{description}">Incorrect Description</p>
                </div>

                <div>
                    <input type="submit" id="doUpdate" name="_eventId_updateData" value="Create" />
                </div>
            </form>
        </div>
    </body>
</html>
